@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,600&display=swap);

@font-face {
	font-family: Cal Sans;
	font-display: swap;
	src: url("/fonts/CalSans-SemiBold.woff") format("woff2"), url("/fonts/CalSans-SemiBold.woff2") format("woff");
	font-weight: 400;
	font-style: normal;
}
html,
body {
	height: 100%;
	min-width: 320px;
}
body {
	line-height: 1;
	font-family: Poppins;
	color: #666666;
}
/* -----------------HEADER----------------------- */
[class*="__container"] {
	max-width: 1230px;
	margin: 0 auto;
	padding: 0px 15px;
}
.wrapper {
    height: 100%;
display: flex;
flex-direction: column;
}
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}
.page {
    flex: 1 1 auto;
}
.header__container {
    align-items: center;
    display: flex;
    gap: 130px;
    min-height: 130px;
}
.logo {
}
.menu__list {
    display: flex;
    align-items: center;
    column-gap: 56px;
	row-gap: 10px;
    border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 15px 10px 0px;
}
.menu__list li {
    padding: 5px 0 5px 0;
}
.menu__link {
color: rgba(18, 18, 18, 0.4);
font-weight: 500;

}
.menu__link:hover {

    text-decoration: underline;
}
/* -----------------CONTENT ----------------------- */
.main {
}
.main__container {
    display: flex;
}
.main__content {
    flex: 0 1 50%;
    align-self: flex-end;
    padding-bottom: 100px;
    padding-top: 80px;
}
.main__title {
    font-family: "Cal Sans";
    color: #121212;
    font-size: 56px;
    font-weight: 600;
    
}
.content__title span {
    color: #ff6428;
}
.content__text {
    max-width: 398px;
font-size: 16px;
font-weight: 500;
text-align: left;
margin-top: 20px;
line-height: 1.2;
}
.content__link {
    display: flex;
    gap: 26px;
    align-items: center;
    margin-top: 34px;

}
.content__btn {
width: 192px;
height: 60px;
background-color: #ff6428;
display: flex;
align-items: center;
justify-content: center;
margin-right: 40px;
}
.btn {
    color: #ffffff;
    font-weight: 600;
}
.link__app {
}
.main__decor {
    flex: 0 1 50%;
    margin-right: -120px;
}
/*-----------------STORE------------*/

.content__title {
    text-align: center;
color: #121212;
font-size: 44px;
font-weight: 600;

}
.content__title span{
    color: #ff6428;
}
.store__body {
    display: flex;
    flex-wrap: wrap;
    gap: 54px;
}
.store__new {
}
.store__description {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
    margin-bottom: 30px;
}
.description__title {
color: #121212;
font-family: Poppins;
font-size: 20px;
font-weight: 600;
letter-spacing: 1.6px;
text-align: left;
text-transform: uppercase;
}
.description__view {
color: #868686;
font-family: Poppins;
font-size: 20px;
font-weight: 500;
text-align: left;
}
.guitar__name {
    margin-top: 40px;
    margin-bottom: 8px;
color: #121212;
font-family: Poppins;
font-size: 16px;
font-weight: 500;
text-align: left;
}
.guitar__price {
color: #666666;
font-family: Poppins;
font-size: 14px;
text-align: left;
}
/*------------CATEGORIES--------*/
.categories {
}
.categories__container {

}
.content__title {
    margin-top: 160px;
}
.categories__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 69px;
    margin-top: 80px;
}
.categories__card {
    position: relative;
}
.categories__card:hover{
    opacity: 0.8;
}
.categories__img {
}
.categories__name {
    position: absolute;
    bottom: 30px;
    left: 65px;
    color: #ffffff;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
/*-------------BRANDS-------------*/
.brends {
}
.brends__container {
}
.content__title {
}
.brends__body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.brands__img {
margin: 100px 160px 0 33px;
}
.brands__img:nth-child(4n) {
    margin-right: 33px;
}
.brands__img:hover {
    opacity: 0.8;
}
.why {
min-height: 508px;
background-color: #121212;
}
.why__container {
}
.rewerse{
    color: #ffffff;
    padding-top: 93px;
}
.why__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 76px 47px 85px 47px;
}
.box__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 230px;

}
.image__box {
    width: 72px;
    height: 72px;
    border-radius: 20px;
    background-color: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image__box:hover {
    background-color: #ff6428;
}
.box__set {
}
.why__description {
    color: #ffffff;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1.44px;
    text-align: left;
    text-transform: uppercase;
    margin-top: 40px;
}
.text {
    margin-top: 12px;
    color: #666666;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    letter-spacing: normal;
    text-transform: none;
}
.image__box:hover .img-svg path {
    fill: #000000;
}